@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.google.com/specimen/Lato?query=lato:100,300,400,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: Lato, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #FDE4A5, #CB8192);
}

.main__h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  -webkit-animation: h2 1.5s linear infinite alternate;
          animation: h2 1.5s linear infinite alternate;
}
.main__loader {
  margin-top: 40px;
  height: 50px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}
.main__loader-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #be618d;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin: -8px;
  -webkit-animation: grow 2s linear infinite;
          animation: grow 2s linear infinite;
}
.main__loader-circle:nth-child(2) {
  background: #fb7b58;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes h2 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes h2 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}